.container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.container button {
  border: none;
  background: #ffffff;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
